*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
   background-color: #FD9317;
   display: flex;
   //ajusta o eixo x largura
   justify-content: space-around;
 //alinha os itens do eixo x
   align-items: center;

   img{
    width: 12%;
   }

   ul{
    display: flex; 
    list-style: none; //retira o estilo de lista
    justify-content: space-around;
  // border: solid;
   width: 60vw;
   }
}